@import "tailwindcss";

:root {
  --background: #ffffff;
  --text-color: #242424;
  --font-primary: var(--font-radio-canada-big);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: var(--font-primary), sans-serif;
  color: var(--text-color);
  line-height: 1.1;
  letter-spacing: 0;
  leading-trim: none;

}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
 
} */

